body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;

  --main-bg-color: #495e57;
  --main-bg-color-yellow: #f4ce14;
}

#root {
  margin: 0;
}

header {
  margin-left: 15rem;
  margin-right: 15rem;
  display: flex;
}

.nav {

  display: flex;
  list-style: none;
  a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
  }
  li {
    margin: 2rem;
  }
}

footer {
  display: flex;
  width: 100%;
  justify-content: center;
}

#call-to-action {
  padding: 1rem 15rem;
  display: flex;
  background: var(--main-bg-color);
  margin-bottom: 3rem;
  #action-img-wrapper {
    width: 50%;
    position: relative;
  }
  .restaurant-img {
    position: absolute;
    top: 1rem;
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 1rem;
  }
}

#chicago {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-right: 25%;

  span, h2 {
    color: white;
    margin-bottom: 1rem;
  }
  h2 {
    margin-top: 0;
    font-weight: 400;
  }
  h1 {
    color: var(--main-bg-color-yellow);
    margin-bottom: 0;
  }
}

button {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  box-shadow: none;
  border: none;
}

.primary-btn{
  background: var(--main-bg-color-yellow);
  color: black;
  font-weight: bold;
}

#specials {
  padding: 1rem 15rem;

  #specials-header {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
    h1 {
      margin: 0;
    }
    #online-menu {
      margin-right: 0;
      margin-left: auto;
    }

  }
}

.card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
  gap: 20px; /* spacing between cards */
  padding: 20px;

  .card {
    background: #edefee;
    border-radius: 1rem;
  }

  img {
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }

  .card-name {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    font-weight: bold;

    .card-name-price {
      color: #ee9972;
    }
  }
  .card-desc {
    margin: 2rem 1rem;
  }
  .card-order {
    margin: 1rem 1rem;
    font-weight: bold;
  }
}